@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.margin-top {
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-partners {
    margin-top: 120px;
}

.head-images {
    max-width: 100%;
    height: auto;
}

.typography {
    font-size: 42px;
    color: rgb(48, 48, 48);
}

.partner-list img {
    opacity: 0.6;
}

.footer {
    margin-top: 80px;
}

.title-session {
    font-size: 40px;
    font-weight: 400;
    color: rgb(48, 48, 48);
}

.jumbotron {
    background-color: white;
}

.typography-caption {
    color: #B6B1B1;
    font-size: 24px;
    font-weight: 300;
}

.secondary-color {
    color: #B6B1B1;
    font-size: 24px;
    font-weight: 300;
}

.btn-login {
    background-color: #00C337;
    color: white;
}

.btn-primary {
    padding: 1em;
    font-weight: 500;
    background-color: #43098C;
}

.footer {
    left: 0;
    bottom: 0;
    height: 80px;
    position: relative;
    width: 100%;
    background-color: #930AFF;
    color: white;
    text-align: center;
}

.footer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media(max-width:375px) {
    .typography {
        font-size: 29px;
    }
    .secondary-color {
        font-size: 19px;
        text-align: center;
    }
    .title-session {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
    }
    .row-reverse {
        flex-direction: column-reverse;
    }
    .padding {
        padding: 2em;
    }
    .partner-list img {
     padding: 0 1.7em 1.7em;
    }
}